input[type="range"] {
    width: 200px;
    margin: 0;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
}

option {
    padding: 0;
    transform: rotate(270deg); /* Rotate the options */
    transform-origin: center; /* Set the rotation origin to the center */
    white-space: nowrap; /* Prevent line breaks */
}
